<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-button color="primary" (click)="backPage()">
      <ion-icon name="caret-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="{{new.urlToImage}}" *ngIf="new" />
    <ion-card-header>
      <ion-card-subtitle *ngIf="new">{{new.author}} - {{new.source.name}}</ion-card-subtitle>
      <ion-card-title *ngIf="new">{{new.title}}</ion-card-title>
    </ion-card-header>

    <ion-card-content *ngIf="new">
      {{new.description}}
    </ion-card-content>
    <ion-button *ngIf="new" color="medium" size="small" (click)="copyMessage(new)" value="click to copy">Copy URL
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Nombre de usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Contenido del comentario
    </ion-card-content>
  </ion-card>

  <form>
    <ion-list>

      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" name="name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" name="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Your comment</ion-label>
        <ion-textarea name="comment" required></ion-textarea>
      </ion-item>

    </ion-list>
    <ion-button type="submit" expand="block" color="primary">
      <ion-icon name="send"></ion-icon>
      Comment
    </ion-button>
  </form>
</ion-content>