<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Digitup News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Last News</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let new of news">
    <img src="{{new.urlToImage}}" />
    <ion-card-header>
      <ion-card-subtitle>{{new.author}} - {{new.source.name}}</ion-card-subtitle>
      <ion-card-title>{{new.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{new.content}}</ion-card-content>
    <ion-button color="primary" size="small" expand="block" (click)="seeNew(new)">See more</ion-button>
  </ion-card>
</ion-content>