<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Digitup News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" *ngIf="segmentModel === 'all'">Last News</ion-title>
      <ion-title size="large" *ngIf="segmentModel === 'favorites'">My Favorite News</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment value="all" color="tertiary" scrollable="true" mode="ios" [(ngModel)]="segmentModel"
    (ionChange)="segmentChanged($event)">

    <ion-segment-button value="all">
      <ion-label>All</ion-label>
    </ion-segment-button>

    <ion-segment-button value="favorites">
      <ion-label>Favorites</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-card *ngIf="segmentModel === 'all'">
    <ion-card *ngFor="let new of news">
      <ion-fab-button color="danger" size="small" (click)="toFavorites(new)">
        <ion-icon name="heart-circle-outline"></ion-icon>
      </ion-fab-button>
      <img src="{{new.urlToImage}}" />
      <ion-card-header>
        <ion-card-subtitle>{{new.author}} - {{new.source.name}}</ion-card-subtitle>
        <ion-card-title>{{new.title}}</ion-card-title>
      </ion-card-header>
      <ion-button color="primary" size="small" expand="block" (click)="seeNew(new)">Read Article</ion-button>
    </ion-card>
  </ion-card>

  <ion-card *ngIf="segmentModel === 'favorites'">
    <h2 *ngIf="favorites == 0">You don't have any favorite 😢</h2>
    <ion-card *ngFor="let favorite of favorites">
      <ion-fab-button *ngIf="favorite" color="danger" size="small" (click)="deleteFromFavorites(favorite)">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-fab-button>
      <img *ngIf="favorite" src="{{favorite.urlToImage}}" />
      <ion-card-header>
        <ion-card-subtitle *ngIf="favorite">{{favorite.author}} - {{favorite.source.name}}</ion-card-subtitle>
        <ion-card-title *ngIf="favorite">{{favorite.title}}</ion-card-title>
      </ion-card-header>
      <ion-button color="primary" size="small" expand="block" (click)="seeNew(favorite)" *ngIf="favorite">Read Article
      </ion-button>
    </ion-card>
  </ion-card>

  <ion-infinite-scroll threshold="10px" (ionInfinite)="getAppService(true, $event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more news...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>